* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img,
svg {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.container {
  max-width: 134.4rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.button-filled {
  display: flex;
  padding: 1rem 3rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease-out;
  color: var(--preto, #000);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  /* 125% */
  border-radius: 3.2rem;
}
.button-filled.amarelo {
  background: var(--amarelo, #fcba58);
}
.button-filled.amarelo:hover {
  filter: brightness(0.9);
}

.button-outlined {
  display: flex;
  padding: 1rem 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 3.2rem;
  border: 1px solid var(--vermelho-hover, #b41e13);
  background: var(--branco-neutro, #fff);
  color: var(--vermelho-hover, #b41e13);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  /* 125% */
  transition: all 0.3s ease-out;
}
.button-outlined:hover {
  filter: brightness(0.9);
}

.cta-call {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
}
@media (min-width: 360px) and (max-width: 959px) {
  .cta-call {
    gap: 0.8rem;
  }
}
@media (max-width: 359px) {
  .cta-call {
    gap: 0.8rem;
  }
}
.cta-call p {
  color: var(--branco-neutro, #fff);
  text-align: center;
  font-family: AMX;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 2.8rem;
  /* 100% */
}
.cta-call p:first-child {
  color: var(--branco-neutro, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.3rem;
  /* 81.25% */
}

.s-insights__card-item {
  display: flex;
  width: 27.9rem;
  padding: 0.8rem 0rem;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}
.s-insights__card-item p {
  color: var(--branco-neutro, #fff);
  text-align: center;
  font-family: AMX;
  font-size: 2rem;
  font-weight: 700;
  line-height: 150%;
}

.s-insights__card-info {
  position: relative;
  display: flex;
  /* height: 37.1rem;
  width: 29rem; */
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.9rem;
}
.s-insights__card-info img {
  display: block;
  width: 100%;
  height: auto;
}
.s-insights__card-info .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 49.98%, #000 76.08%);
  z-index: 1;
}
.s-insights__card-info .card-info__text {
  padding: 0 5.475rem 3.1rem 1.225rem;
  position: absolute;
  color: #fff;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.s-insights__card-info .card-info__text h3 {
  /* Bold/Bold 40 */
  font-family: AMX;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 3rem */
}
.s-insights__card-info .card-info__text p {
  color: #fff;
  font-family: AMX;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  /* 2.4rem */
}

.s-funcionalidades__item {
  display: flex;
  padding: 4rem 1.6rem 1.6rem 1.6rem;
  flex-direction: column;
  align-items: flex-start;
  /*  width: 29rem !important; */
  gap: 1.6rem;
  border-radius: 0.8rem;
  background: var(--branco-neutro, #fff);
  height: 40rem;
}
.s-funcionalidades__item h3 {
  color: var(--preto, #000);
  font-family: AMX;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 150%;
  /* 4.2rem */
}
.s-funcionalidades__item p {
  color: var(--preto, #000);
  font-family: AMX;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  /* 2.4rem */
}

.view-more-channels {
  display: none;
}
@media (min-width: 360px) and (max-width: 959px) {
  .view-more-channels {
    display: flex;
    padding: 1rem 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 3.2rem;
    background: var(--vermelho-claro, #ec1d25);
    color: var(--branco-neutro, #fff);
    text-align: center;
    font-family: Roboto;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
    /* 125% */
  }
}
@media (max-width: 359px) {
  .view-more-channels {
    display: flex;
    padding: 1rem 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 3.2rem;
    background: var(--vermelho-claro, #ec1d25);
    color: var(--branco-neutro, #fff);
    text-align: center;
    font-family: Roboto;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
    /* 125% */
  }
}

.view-less-channels {
  display: flex;
  padding: 1rem 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 3.2rem;
  background: var(--vermelho-claro, #ec1d25);
  color: var(--branco-neutro, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  /* 125% */
}

header {
  background: var(--vermelho-claro, #ec1d25);
}
header .container {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  align-items: center;
}
@media (min-width: 360px) and (max-width: 959px) {
  header .container {
    height: 7.2rem;
  }
}
@media (min-width: 360px) and (max-width: 959px) {
  header .container {
    height: 7.2rem;
  }
}
header .container .desktop__nav ul {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
header .container .desktop__nav ul .nav__item {
  color: var(--branco-neutro, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3rem;
  /* 81.25% */
  padding: 2.4rem 0;
}
header .container .desktop__nav ul .nav-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
@media (min-width: 360px) and (max-width: 959px) {
  header .container .desktop__nav ul .nav-group {
    display: none;
  }
}
@media (max-width: 359px) {
  header .container .desktop__nav ul .nav-group {
    display: none;
  }
}

.s-hero .container {
  height: 34.4rem;
  background-image: url("../img/s-hero-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 360px) and (max-width: 959px) {
  .s-hero .container {
    background-image: url("../img/s-hero-banner-mobile.png");
  }
}
@media (max-width: 359px) {
  .s-hero .container {
    background-image: url("../img/s-hero-banner-mobile.png");
  }
}

.s-alexa {
  height: 80rem;
  background-image: url("../img/s-alexa-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 360px) and (max-width: 959px) {
  .s-alexa {
    background-image: url("../img/s-alexa-banner-mobile.png");
    height: 100rem;
  }
}
.s-alexa .container {
  height: 100%;
  display: flex;
  align-items: center;
}
@media (min-width: 360px) and (max-width: 959px) {
  .s-alexa .container {
    align-items: flex-end;
  }
}
.s-alexa .container .s-alexa__text {
  max-width: 48.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.s-alexa .container .s-alexa__text h2 {
  color: #fff;
  font-family: AMX;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 150%;
  /* 4.2rem */
}
.s-alexa .container .s-alexa__text span {
  color: #fff;
  font-family: AMX;
  font-size: 2rem;
  font-weight: 500;
  line-height: 150%;
  /* 3rem */
}
.s-alexa .container .s-alexa__text p {
  color: #fff;
  font-family: AMX;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  /* 2.4rem */
}

.s-insights {
  position: relative;
  display: flex;
  padding: 6.4rem 0 12rem 0;
  flex-direction: column;
  align-items: center;
  gap: 7.2rem;
  background: var(--preto, #000);
}
.s-insights .swiper-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.8rem;
  position: relative;
  justify-self: center;
  position: absolute;
  left: 50%;
  margin-left: -6.4rem;
  bottom: 9rem;
}
.s-insights .swiper-button-next,
.s-insights .swiper-button-prev {
  display: flex;
  width: 4.8rem;
  height: 4.8rem;
  padding: 1.4rem 1.6rem 1.4rem 1.2rem;
  align-items: center;
  border-radius: 0.8rem;
  background: var(--vermelho-claro, #ec1d25);
}
.s-insights .swiper-button-next::after,
.s-insights .swiper-button-prev::after {
  font-size: 2rem;
  /* Ajusta o tamanho das setas */
  color: #fff;
}
.s-insights .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7.2rem;
  background: var(--preto, #000);
}
.s-insights .container .s-insights__swiper {
  width: 100%;
  overflow: hidden;
}
.s-insights .s-insights__card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
@media (max-width: 359px) {
  .s-insights .s-insights__card-list {
    flex-direction: column;
  }
}
@media (min-width: 360px) and (max-width: 959px) {
  .s-insights .s-insights__card-list {
    flex-direction: column;
  }
}
.s-insights .s-insights__card-info-list {
  width: 100%;
}

.s-funcionalidades {
  padding: 4.8rem 0 12.2rem;
  background: var(--cinza-neutro, #f8f8f8);
  position: relative;
}
.s-funcionalidades .s-funcionalidades__swiper {
  width: 100%;
  overflow: hidden;
}
.s-funcionalidades .swiper-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.8rem;
  position: relative;
  justify-self: center;
  position: absolute;
  left: 50%;
  margin-left: -6.4rem;
  bottom: 6.6rem;
}
.s-funcionalidades .swiper-button-next,
.s-funcionalidades .swiper-button-prev {
  display: flex;
  width: 4.8rem;
  height: 4.8rem;
  padding: 1.4rem 1.6rem 1.4rem 1.2rem;
  align-items: center;
  border-radius: 0.8rem;
  background: var(--vermelho-claro, #ec1d25);
}
.s-funcionalidades .swiper-button-next::after,
.s-funcionalidades .swiper-button-prev::after {
  font-size: 2rem;
  /* Ajusta o tamanho das setas */
  color: #fff;
}
.s-funcionalidades .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
}
.s-funcionalidades .container .s-funcionalidades__title h2 {
  color: #000;
  font-family: AMX;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 150%;
  /* 4.2rem */
}
.s-funcionalidades .container .s-funcionalidades__title p {
  color: #000;
  font-family: AMX;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  /* 2.4rem */
}
.s-claro-tvmais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80rem;
  flex-shrink: 1;
}
@media (min-width: 360px) and (max-width: 959px) {
  .s-claro-tvmais {
    height: auto;
  }
}
@media (max-width: 359px) {
  .s-claro-tvmais {
    height: auto;
  }
}
.s-claro-tvmais img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 360px) and (max-width: 959px) {
  .s-claro-tvmais .desktop {
    display: none;
  }
}
@media (max-width: 359px) {
  .s-claro-tvmais .desktop {
    display: none;
  }
}
@media (min-width: 960px) and (max-width: 1279px) {
  .s-claro-tvmais .mobile {
    display: none;
  }
}
@media (min-width: 1280px) {
  .s-claro-tvmais .mobile {
    display: none;
  }
}

.s-cta-assine {
  padding-top: 3.2rem;
  padding-bottom: 4.8rem;
  background: var(--cinza-neutro, #f8f8f8);
}
.s-cta-assine .box {
  margin: 0 auto;
  display: flex;
  width: 87.4rem;
  padding: 2.4rem 0rem;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  border-radius: 1.6rem;
  background: var(--branco-neutro, #fff);
  max-width: 100%;
}
.s-cta-assine .box .box__title h2 {
  color: var(--preto, #000);
  text-align: center;
  font-family: AMX;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 150%;
  /* 5.4rem */
}
.s-cta-assine .box .box__title p {
  color: var(--preto, #000);
  text-align: center;
  font-family: AMX;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 3rem */
}
.s-cta-assine .box__price {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}
.s-cta-assine .box__price p:first-child {
  color: var(--preto, #000);
  text-align: center;
  font-family: AMX;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  /* 1.5rem */
}
.s-cta-assine .box__price p:last-child {
  color: var(--preto, #000);
  text-align: center;
  font-family: AMX;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  /* 2.4rem */
}
.s-cta-assine .box__price .price {
  display: flex;
}
.s-cta-assine .box__price .price .currency {
  color: var(--preto, #000);
  font-family: AMX;
  font-size: 2rem;
  font-weight: 500;
  line-height: 100%;
  /* 3rem */
  align-self: flex-end;
  margin-bottom: 1rem;
}
.s-cta-assine .box__price .price .integer {
  color: var(--preto, #000);
  font-family: AMX;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 100%;
}
.s-cta-assine .box__price .price .decimal {
  color: var(--preto, #000);
  font-family: AMX;
  font-size: 2rem;
  font-weight: 700;
  line-height: 100%;
  margin-top: 0.5rem;
}

.s-channels {
  padding: 3.2rem 0;
}
.s-channels .container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.s-channels .container .title h2 {
  color: var(--preto, #000);
  /* Bold/Bold 50 */
  font-family: AMX;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 4.2rem */
}
.s-channels .container .title p {
  color: var(--preto, #000);
  font-family: AMX;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 2.4rem */
}
.s-channels .container h3 {
  color: var(--preto, #000);
  font-family: AMX;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.s-channels .container .s-channels__list {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 3.2rem;
  align-self: stretch;
  flex-wrap: wrap;
}

.s-instale {
  padding: 4.8rem 0;
  background: var(--cinza-neutro, #f8f8f8);
}
.s-instale .title {
  display: flex;
  flex-direction: column;
}
.s-instale .title h2 {
  color: var(--preto, #000);
  font-family: AMX;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 150%;
}
.s-instale .title p {
  color: var(--preto, #000);
  font-family: AMX;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.s-instale .container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.s-instale .container .s-instale-card__list {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
  align-self: stretch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.s-instale .container .s-instale-card__list::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}
@media (min-width: 360px) and (max-width: 959px) {
  .s-instale .container .s-instale-card__list {
    overflow: scroll;
  }
}
@media (max-width: 359px) {
  .s-instale .container .s-instale-card__list {
    overflow: scroll;
  }
}
.s-instale .container .s-instale-card__list li {
  display: flex;
  width: 29rem;
  flex-direction: column;
  align-items: center;
  border-radius: 0.8rem;
  background: var(--branco-neutro, #fff);
  padding-bottom: 8rem;
}
@media (min-width: 360px) and (max-width: 959px) {
  .s-instale .container .s-instale-card__list li {
    flex-shrink: 0;
  }
}
@media (max-width: 359px) {
  .s-instale .container .s-instale-card__list li {
    flex-shrink: 0;
  }
}
.s-instale .container .s-instale-card__list li .text {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1.6rem;
  padding: 0 1.7rem;
}
.s-instale .container .s-instale-card__list li .text h3 {
  color: var(--preto, #000);
  font-family: AMX;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 150%;
}
.s-instale .container .s-instale-card__list li .text p {
  color: var(--preto, #000);
  font-family: AMX;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}